__pycache__/
.mypy_cache/
.env

.DS_Store
scancode_report.json
semgrep_output.json

sigscan.egg-info/*
sigscan.egg-info/
user_project/
logs/
project_run/RGM_econ_pyfiles/
project_run/RGM_econ_pyfiles.zip
setup_phase1.py
out.json